@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  font-family: "Inria Sans", sans-serif !important;
}

.register-body {
    background-image: linear-gradient(
        to bottom right,
        rgba(35, 35, 35, 0),
        rgba(56, 56, 56, 0)),
        url("assets/img/371c060cbef7357ff4e2f54a0408b064.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-content: center;
   
    margin: 0 auto;
}


.register-content-sidebar {
    height: 100vh;
    background-image: url("assets/img/Component\ 2\ \(6\).svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
}

.sidebar-one {
    width: 24.9vw;
    background-color: white;
    position: absolute;
    top: 0;
    height: 10vw;
}
.register-content-sidebar p {
    font-size: 20px;
    width: 50%;
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 800;
    color: black;
}
.register-content-sidebar .logo {
    display: flex;
    margin-top: 20px;
    padding-left: 60px;

}
.register-content-sidebar h2 {
    font-size: 20px;
    padding-left: 60px;
}
.register-content-sidebar h3{
    font-size: 16px;
    padding-left: 60px;
}
.form-content {
    padding-left: 60px;
}
.form-content input {
    width: 330px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 6px;
}
.display-social-button {
    display: block;
    padding-left: 60px;
  
}
.display-social-button button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 330px;
    height: 50px;
    background-color: white;
    border-radius: 6px;
}
.read-more {
    padding-top: 40px;
    padding-left: 20px;

}
.read-more a {
    color: black;
    font-weight: 800;
}
/* Example CSS for DashboardLayout */

.dashboard-layout {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #1D1D1D;
    color: white;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    padding-left: 20px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  .main-content {
    flex: 1;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1D1D1D;
    color: white;
  }
  
  .navbar-logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .navbar-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    
  }
  
  .navbar-links li {
    margin-right: 20px;
    padding-top: 15px;

  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
  }
  .navbar-links input {
    width: 800px;
    padding-left: 20px;
    border-radius: 100px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 10px;

  }
  .navbar-links input:focus, textarea:focus, select:focus {
    width: 800px;
    padding-left: 20px;
    border-radius: 100px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 10px;
    outline: none;

  }
  .input-search {
    background-color: white;
    margin-top: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-radius: 100px;
  }
  .input-search .faMagnifyingGlass {
    color: #7D7D7D;
    font-size: 20px;
    padding: 0;

  }
  .navbar-links a:hover {
    text-decoration: underline;
  }  
  .navbar-links button {
    margin-top: 10px;
    background-color: #157BFF;
    border: none;
    width: 120px;
    margin-right: 20px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 16px;
  }
  .navbar-links button:hover {
    margin-top: 10px;
    background-color: #0555bd;
    border: none;
    width: 120px;
    margin-right: 20px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 16px;
  }
  .navbar-links h6 {
    margin-top: 16px;
    padding-right: 10px;
  }
  .logo-center {
  
    text-align: center;
  }
  .logo-center img {
    width: 200px;
    padding-top: 10px;
  }
  .overview {
   background-color: #161616;
   line-height: 60px;
}
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:focus .hvr-icon, .hvr-icon-spin:active .hvr-icon {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.overview:hover {
  background-color: #0f0f0f;
  line-height: 60px;
}
.overview .hvr-icon-spin {
  color: white;
  font-size: 30px;
  float: right;
  padding-right: 5px;
}
.dashboard-body {
  background-color: #D2C9E1;
  height: 100vh;

}
.main {
  position: relative;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
.welcome-index {
  text-align: center; /* Centers text within the div */
  margin-top: 10vw;
}
.welcome-index img {
  width: 50%;
}
.todo-cards {
  z-index: 1px;

}

.center-image {
  text-align: center;
}
.center-image img {
  border: 4px solid black;
}
.display-task-add {
  display: flex;
  float: right;
  margin-right: 1.8vw;
  gap: 10px;
  
}
.display-task-add h6 {
  padding-top: 5px;
}
.display-task-add button {
  border-radius: 100px;
  background-color: #000100;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
}
.display-task-add button:hover {
  border-radius: 100px;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
}
.members {
  display: flex;
  margin-top: 12px;
  margin-right: 10px;
}
.members .mem {
  background-color: #D2C9E1;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: -10px; 
  z-index: 1; 
  border: 1px solid black;
}
.mem {
  background-color: #D2C9E1;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  position: relative;
  border: 1px solid black;
}
.members .mem:first-child {
  margin-left: 0; 
}
.sidebar .custom {
  font-size: 20px;
  font-weight: 800;
}
.sidebar .custom .faServer {
  font-size: 28px;
}
.sidebar .teams {
  font-size: 20px;
  font-weight: 800;
  margin-top: 20px;
}
.center-extra {
  text-align: center;
}
.center-extra button {
  background-color: #157BFF;
  color: white;
  border-radius: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 140px;
  border: none;
}
.center-extra button:hover {
  background-color: #0555bd;
  color: white;
  border-radius: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 140px;
  border: none;
}
.sidebar h5 {
  text-align: center;
}
/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
/* styles.css */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.show {
  display: block; /* Show the modal */
}

.modal-content {
  background-color: #1D1D1D;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #FFFFFF;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  height: 380px;
}
.modal-content .add-button {
  background-color: #0555bd;
  width: 100px;
  height: 35px;
  border-radius: 3px;
  border: none;
}
.modal-content .add-button h1 {
  font-size: 16px;
  color: white;
  text-align: center;
  padding-top: 5px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
.modal-display-header {
  display: flex;
  justify-content: space-between;
}
.modal-two {
  display: flex;
}
.modal-two h5 {
  color: white;
  font-size: 16px;
  padding-right: 10px;
  padding-top: 5px;
}
.modal-content input {
  background-color: #161616;
  border: 1px solid #464646;
  width: 160px;
  padding-left: 10px;
}
.modal-content input:focus, textarea:focus, select:focus {
  background-color: #161616;
  border: 1px solid #464646;
  width: 160px;
  padding-left: 10px;
  outline: none;
}
.modal-content h6 {
  color: white;
  padding-top: 20px;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}

.title-two .faImage {
  font-size: 60px;
  color: white;
  padding-top: 20px;
  
}
.bottom-content-one input {
  width: 100%;
  height: 80px;
}
.bottom-content-one input:focus, textarea:focus, select:focus {
  width: 100%;
  height: 80px;
  outline: none;
}
.modal-content .submit-modal-button {
 background-color: #157BFF;
 color: white;
 width: 120px;
 text-align: center;
 margin-top: 15px;
 border: none;
 height: 40px;
 border-radius: 3px;
}
// mobile development
@media only screen and (max-width: 1200px) {

  .register-content-sidebar {
   display: none;
     
}
.sidebar-one {
  display: none;
  background-color: transparent;
}
.register-content-sidebar .logo {
  justify-content: center;
  padding: 0;
}
.register-content-sidebar h2 {
  font-size: 20px;
  padding-left: 0;
  text-align: center;
}
.register-content-sidebar h3{
  font-size: 16px;
  padding-left: 0;
  text-align: center;
}
.register-content-sidebar p {
  font-size: 30px;
  width: 100vw;
  padding-top: 40px;
  font-weight: 800;
  color: black;
}
.background-white {
  background-color: white;
  width: 100vw;
  background-position: center center !important;
}
.sidebar-one {
  display: flex;
  justify-content: center; /* Centers the form horizontally */
  align-items: center;     /* Centers the form vertically if the parent has a set height */
  padding: 10px;           /* Optional: adds padding for better spacing */
}

.sidebar-one form {
  width: 100%;  /* Ensures the form takes up full width */
  max-width: 400px; /* Optional: sets a max-width for the form */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}
}
.profile-upload {
  position: relative;
  
}
.profile-upload img {
 border: 3px solid black; 
 border-radius: 100px; 
}
.profile-upload .faImage {
position: absolute;
  left: -10px;
  color: #000000;
  font-size: 25px;
}
.profile-upload input[type="file"] {
  position: absolute;
  left: 0;
  top: -10px;
  opacity: 0;
  height: 100%;
  width: 50px;
  border-radius: 100px;
  cursor: pointer;
}
.register-button {
  width: 330px;
  height: 50px;
  background-color: white;
  color: #157BFF;
  font-size: 20px;
  font-weight: 600;
  border-radius: 6px;
}
.notification {
  padding-left: 4.5vw;
}