.register-body {
    background-image: linear-gradient(
        to bottom right,
        rgba(35, 35, 35, 0),
        rgba(56, 56, 56, 0)),
        url("assets/img/371c060cbef7357ff4e2f54a0408b064.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-content: center;
   
    margin: 0 auto;
}


.register-content-sidebar {
    height: 100vh;
    background-image: url("assets/img/Component\ 2\ \(6\).svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
}

.sidebar-one {
    width: 24.9vw;
    background-color: white;
    position: absolute;
    top: 0;
    height: 10vw;
}
.register-content-sidebar p {
    font-size: 20px;
    width: 50%;
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 800;
    color: black;
}
.register-content-sidebar .logo {
    display: flex;
    margin-top: 70px;
    padding-left: 60px;

}
.register-content-sidebar h2 {
    font-size: 20px;
    padding-left: 60px;
}
.register-content-sidebar h3{
    font-size: 16px;
    padding-left: 60px;
}
.form-content {
    padding-left: 60px;
    padding-top: 50px;
}
.form-content input {
    width: 330px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 6px;
}
.display-social-button {
    display: block;
    padding-left: 60px;
  
}
.display-social-button button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 330px;
    height: 40px;
    
}